.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  text-transform: uppercase;
  overflow: hidden;
  
  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
    }

    & .content {
      opacity: 0.9;
    }
  }

  & .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 1s cubic-bezier(.11,.74,.63,.69);

  }
  
  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  &.large {
    height: 360px;
  }

  .content {
    position: absolute;
    height: 80px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #fff;
    opacity: 0.7;

     .title {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-size: 16px;
    }
  }
}